name: Android Release Build

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Build APK & Create Release
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Install Dependencies
        run: flutter pub get

      - name: Build Release APK
        run: flutter build apk --release --split-per-abi

      - name: Create GitHub Release & Upload APK
        uses: ncipollo/release-action@v1
        with:
          artifacts: build/app/outputs/flutter-apk/*.apk
          tag: v1.0.${{ github.run_number }}
          generateReleaseNotes: true
          token: ${{ secrets.GITHUB_TOKEN }}